# MongoDB Connection String (e.g. mongodb+srv://username:password@cluster.mongodb.net/portfolio?retryWrites=true&w=majority)
MONGODB_URI=mongodb://127.0.0.1:27017/portfolio

# Email Service (Nodemailer / Resend)
EMAIL_SERVICE_API_KEY=your_email_api_key_or_smtp_pass
CONTACT_RECEIVER_EMAIL=hello@developer.com
